.contact__list-offer {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $base-color-black;
  text-transform: uppercase;
}

.contact__list-address {
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $base-color-grey;
}

.contact__list-info {
  padding-top: 26px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.contact__location {
  width: 100%;
  height: auto;
  padding-top: 20px;
  display: block;
  margin: 0 auto;
}
