.extra-product {
  @media (min-width: $tablet-width) {
    padding-top: 74px;
  }
}

.extra-product__title {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
  }
}

.extra-product__list {
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-bottom: 70px;
  }
}


.extra-product__content {
  display: grid;
  grid-template-columns: 1fr;


  @media (min-width: $tablet-width) {
    padding-top: 80px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.extra-product__description {
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.extra-product__description-item {
  display: flex;
  justify-content: space-between;
}

.extra-product__item {
  border-top: 1px solid $line-base-grey;
  padding-top: 13px;
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    border-top: 1px solid $line-base-grey;
    border-left: 1px solid $line-base-grey;
    border-right: 1px solid $line-base-grey;
    padding: 26px 38px 29px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.extra-product__item:last-child {
  border-bottom: 1px solid $line-base-grey;
}

.extra-product__item-row {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.extra-product__subtitle {
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 36px;
  margin: 0;
  padding-top: 25px;
  padding-left: 20px;
  position: relative;
  width: fit-content;
  box-shadow: -40px 0 0 0 $base-color-white, 40px 0 0 0 $base-color-white;
  background: $base-color-white;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-left: 70px;
    font-size: 32px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    padding-left: 70px;
  }
}

.extra-product__subtitle::after {
  content: " ";
  background: #68b738;
  width: 100vw;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  box-shadow: 100vw 0 #68b738;
  z-index: -1;
}

.extra-product__subtitle::before {
  content: " ";
  background: #68b738;
  width: 50vw;
  height: 2px;
  position: absolute;
  top: 50%;
  right: 250px;
  box-shadow: -50vw 0 #68b738;

  @media (min-width: $tablet-width) {
    right: 335px;
  }
}

.extra-product__gift {
  background-color: $bg-base-green;
  background-image: url("/images/catalog/giftMobile@2x.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 59px 61px 43px 58px;
  text-align: center;
  color: $base-color-white;

  @media (min-width: $tablet-width) {
    background-image: url("/images/catalog/giftTablet@2x.png");
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 57px 125px 60px 77px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("/images/catalog/giftDesktop@2x.png");
    height: 288px;
  }
}

.extra-product__gift::before {
  content: " ";
  background-image: url("/icons/stack.svg#icon_gift");
  background-repeat: no-repeat;
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: 48px;
  width: 78px;
  height: 80px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.extra-product__gift-info {
  @media (min-width: $tablet-width) {
    width: 160px;
    text-align: left;
  }
}
