.header {
  $bg-color:#ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 21px 14px 20px;
}

.header__toggle {
  background-color: #ffffff;
  background-image: url("/icons/stack.svg#burger_menu_closed");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  border: 0;
}

.header__toggle--closed {
  background-image: url("/icons/stack.svg#burger_menu_opened");
}

.header__logo-title {
  $bg-color:#ffffff;
  opacity: 1;
}

.header__logo-title:hover,
.header__logo-title:focus {
  opacity: 0.8;
}

.header__logo-title:active {
  opacity: 0.6;
}
