.main-product {
  background-color: $bg-base-green;
  font-family: $secondary-font;
  color: $base-color-white;
  font-weight: 400;
}

.main-product__content {
  background-color: $base-color-lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-product__title {
  font-size: 36px;
  line-height: 36px;
}

.main-product__slogan {
  font-size: 14px;
  line-height: 14px;
  padding-top: 25px;
  text-transform: uppercase;
  padding-bottom: 29px;
}
