.navigation {
  position: absolute;
  top: 65px;
  width: 100%;
  left: 0;
  background-color: $base-color-white;
  //display: flex;
  flex-flow: column nowrap;
  display: none;
}

.navigation__content--popup {
  display: none;
}
