@media (max-width: $phone-width-max) {
  .navigation {
    position: absolute;
    top: 65px;
    width: 100%;
    left: 0;
    background-color: $base-color-white;
    display: flex;
    flex-flow: column nowrap;
    //display: none; */
  }

  .navigation__content--popup {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .navigation {
    flex: 1;
  }

  .navigation__list {
    flex-direction: row;
    gap: 20px;
    display: flex;
    justify-content: flex-end;

    .header__toggle {
      display: none;
    }
  }
}
