.program {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    margin-top: -35px;
  }
}

.program__list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 18px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.program__title {
  display: flex;
  gap: 20px;
  text-transform: uppercase;
  color: $base-color-black;
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 700;
  line-height: 37px;
  align-items: center;

  @media (min-width: $tablet-width) {
    gap: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    gap: 62px;
  }
}

.program__title-icon {
  position: relative;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 107px;
    right: 64px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 0;
    right: 0;
  }
}

.program__title-icon::before {
  content: " ";
  border-radius: 50%;
  background-position: 50%;
  background-color: $bg-base-green;
  width: 50px;
  height: 50px;
  display: inline-block;

  @media (min-width: $tablet-width) {
    background-position: 50%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: inline-block;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
    display: inline-block;
  }
}

.program__title-icon::after {
  content: " ";
  position: absolute;
  background-repeat: no-repeat;
}

.program__title-icon--slim::after {
  inset: -3px 7px 3px;
  background-image: url("/icons/stack.svg#cat-slim");
  background-size: 36px 50px;

  @media (min-width: $tablet-width) {
    background-size: 140px 194px;
    inset: -11px 29px;
  }

  @media (min-width: $desktop-width) {
    background-size: 70px 97px;
    inset: -3px 12px 3px;
  }
}

.program__title-icon--pro::after {
  inset: 11px -9px;
  background-image: url("/icons/stack.svg#cat-pro");
  background-size: 67px 28px;

  @media (min-width: $tablet-width) {
    background-size: 286px 112px;
    inset: 44px -44px;
  }

  @media (min-width: $desktop-width) {
    background-size: 134px 56px;
    inset: 19px -18px 3px;
  }
}

.program__item {
  background-color: $bg-base-lightgrey;
  padding-top: 21px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) and  (max-width: ($desktop-width - 1)) {
    padding: 0;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    display: flex;
  }
}

.program__description {
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $base-color-grey;
  padding-bottom: 23px;
  padding-top: 17px;
  padding-right: 13px;
  border-bottom: 2px solid $bg-base-grey;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: 0;
    padding-right: 318px;
    padding-top: 24px;
    font-size: 16px;
    line-height: 24px;
    overflow-wrap: break-word;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 39px;
  }
}

.program__link {
  text-transform: uppercase;
  color: $base-color-black;
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  align-items: center;
  gap: 17px;
  padding-top: 17px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 58px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 32px;
  }
}

.program__link::after {
  content: " ";
  mask-image: url("/icons/stack.svg#arrow");
  background-repeat: no-repeat;
  background-size: 30px 12px;
  width: 30px;
  height: 12px;
  background-color: $base-color-black;

  @media (min-width: $tablet-width) {
    margin-left: 10px;
  }
}

.program__link:active {
  opacity: 0.3;
}

.program__link:active::after {
  opacity: 0.3;
}

.program__item-content {
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 91px;
    padding-left: 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 61px 67px 55px 52px;
  }
}
