.wrapper-content {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: 708px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1220px;
    margin: 0 auto;
    padding-left: 110px;
    padding-right: 100px;
  }
}
